services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    # .envファイルから自動で環境変数を読み込む
    env_file:
      - .env
    # MySQLが必要とする変数だけを明示的にマッピング（可読性と確実性のため）
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: ./backend
    container_name: fastapi_app
    restart: on-failure
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    environment:
      # 直書きせず、.envで定義したものを利用する
      - DATABASE_URL=${DATABASE_URL}
    # 開発用コマンドをCompose側で指定（Dockerfileは本番用にするため）
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: nextjs_app
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - .env
    environment:
      - WATCHPACK_POLLING=true
      - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}

      
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./infra/docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro # read only
    depends_on:
      - frontend
      - backend

volumes:
  db_data: